@media screen and (max-width: 740px) {
h1 {
  font-size: 12px;
}

nav {
  height: 400px;
}

h3 {
  font-size: 10px;
}

ul li {
  font-size: 12px;
  height: 28px;
}

#new-quality-input {
  height: 25%;
}

.menu-button {
  font-size: 9px;
  height: 30px;
}

#idea-box {
  overflow: hidden;
}

#ideabox-form {
  width: 60%;
}

#ideabox-body-input {
  height: 40px;
}

#ideabox-save-button {
  height: 25px;
}

#ideabox-search-input {
  height: 25px;
  width: 90%;
}

#search-button {
  height: 25px;
}  

.initial-prompt {
  font-size: 16px;
}

.idea-card{
  font-size: 12px;
  width: 45%;
}

#storage-box {
  min-height: 700px;
  overflow: auto;
}
}

@media screen and (max-width: 500px) {
body {
  display: flex;
  flex-direction: column;
  height: 1500px;
}

#menu-bar {
  min-height: 450px;
}

h1 {
  font-size: 18px;
}

h3 {
  font-size: 11px;
}

ul li {
  font-size: 14px;
  height: 30px;
}

#new-quality-input {
  height: 10%;
}

.menu-button:hover {
  font-size: 9px;
  height: 30px;
}

#idea-box {
  min-height: 350px;
}

#ideabox-form {
  height: 100%;
  margin-top: 5%;
  width: 80%;
}

.ideabox-form-label {
  font-size: 2vh;
  justify-content: center;
}

#ideabox-title-input {
  height: 10%;
}

#ideabox-body-input {
  height: 30%;
}

#ideabox-save-button {
  height: 10%;
}

#ideabox-save-button.enable {
  background: #3f3f88;
  outline: none;
}

#ideabox-search-input {
  height: 25px;
}

#storage-box {
  align-content: flex-start;
}

.initial-prompt {
  margin-top: 50px;
}

.idea-card{
  height: 40%;
  margin: 10px;
  width: 90%;
}
}
