HTML {
	height: 100%;    
}

* {
	box-sizing: border-box;
	font-family: 'Open sans', sans-serif;
}

body {
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: 45% auto;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#menu-bar {
	background-color: #1f1f3d;
	border: 1px solid;
	color: #eaeaf4;
	display: flex;
	grid-row-end: 3;
	grid-row-start: 1;
	height: 100%;
	padding: 0px 15px 0px 15px;
}

h1 {
	font-size: 20px;
}

nav {
	border-bottom: 1px solid #353567;
	height: 500px;
	margin-left: 5px;
	width: 95%;
}

#menubar-starred-ideas-box {
	border-bottom: 1px solid #353567;
	border-top: 1px solid #353567;
	height: 115px;
}

h3 {
	font-size: 14px;
	font-weight: lighter;
}

#menubar-list {
	margin-left: -45px;
}

ul li:hover {
	background-color: #d14119;
}

ul li {
	font-size: 18px;
	height: 40px;
	list-style: none;
	margin-left: 10px;
	width: 95%;
}

#new-quality-input {
	background-color: #e9e9f3;
	border: 2px solid #353567;
	border: 0;
	height: 35px;
	margin-bottom: 10px;
	margin-left: 3px;
	width: 98%;
}

.menu-button {
	background-color: #5356a4;
	border: 2px solid #353567;
	color: #eaeaf3;
	font-size: 16px;
	height: 35px;
	margin-top: 15px;
	padding: 0px;
	width: 100%;
}

.menu-button:hover {
	background-color: #353567;
}

#idea-box {
	background-color: #a9aad2;
	display: flex;
	justify-content: center;
}

#ideabox-form {
	font-size: 20px;
	height: 90%;
	margin-top: 0.5%;
	width: 40%;
}

.ideabox-form-label {
	font-size: 3vh;
}

#ideabox-title-input {
	border: 2px solid #353567;
	font-size: 20px;
	height: 25px;
	margin: 3% 0%;
	width: 100%;
}

#ideabox-body-input {
	border: 2px solid #353567;
	font-size: 14px;
	height: 75px;
	margin: 1% 0%;
	resize: none;
	width: 100%;
}

#ideabox-save-button {
	background-color: #1f1f3d;
	border: 2px solid #353567;
	color: #ffffff;
	font-size: 16px;
	height: 10%;
	margin: 3% 0%;
	width: 100%;
}

#ideabox-save-button.enable {
	background: #3f3f88;
	outline: none;
}

#ideabox-save-button.enable:hover {
	background: #5356A4;
	outline: none;
}

#search-input-button-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
}

#ideabox-search-input {
	border: 2px solid #353567;
	border-left: none;
	box-sizing: border-box;
	float: right;
	height: 30px;
	width: 100%;
}

#search-button {
	border: 2px solid #353567;
	border-right: none;
	box-sizing: border-box;
	height: 30px;
	width: 25px;
}

.delete,
.star,
.upvote-deact,
.downvote-deact{
	width: 20px;
}

#storage-box {
	align-content: flex-start;
	background-color: #eaeaf4;
	display: flex;
	flex-wrap: wrap;
	grid-column-end: 3;
	justify-content: flex-start;
	padding: 10px;
}

.hidden {
	display: none;
}

.initial-prompt {
	font-size: 22px;
	margin: auto;
}

img{
	width: 20px;
}

.idea-card{
	font-size: 12px;
	height: 250px;
	margin: 10px auto;
	width: 30%;
}

.idea-card-top{
	background-color: #1f1f3d;
	display: flex;
	height: 25px;
	justify-content: space-between;
	width: 100%;
}

article{
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	height: 80%;
	justify-content: flex-start;
	width: 100%;
}

h4{
	height: 12%;
	margin: 10px;
	width: 100%;
}

.idea-card-text {
	height: 100%;
	margin: 0px 10px;
	width: 100%;
}

.idea-card-bottom{
	background-color: #5356A4;
	color: #ffffff;
	display: flex;
	height: 25px;
	justify-content: space-between;
	width: 100%;
}

.quality{
	margin-top: 5px;
	width: 60px;
}

    

